
body{
    background-color: grey;

    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    
    background-color:gainsboro;
    margin-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    border: 0.2em darkblue solid;
}

footer{
    padding-bottom: 1em;
}

header nav{
    background-color: gainsboro;
    padding: 0.07em;
}

main{
    display: flex;
}

nav ul{
    padding: 0.4em;
}

nav ul li{
    display: inline;
    padding-right: 0.5em;
}

a:link{
    color: yellow;
    font-weight: bold;
}

a:visited{
    color: red;
}

a:hover{
    background-color: darkblue;
}

section{
    flex: 40%;
    margin-right: 2.5em;
}

aside{
    flex: 20%;
}

aside div{
    border: 0.1em solid grey;
    padding: 1em;
    background-color: greenyellow;
    margin-bottom: 0.5em;

}

aside div h3{
    text-align: center;
}

img {
    width: 15em;
    height: 10em;
}

article{
    width: 45em;
   
    border: 0.1em solid gray;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
}

article img{
    flex: 30%;
    margin-right: 1.2em;
}
article div{
    flex: 70%;
}

article div h6{
    text-align: right;
}

form{
    text-align: center;
}